snippet time "current time" w
`!v strftime('%Y-%m-%d %H:%M:%S')`
endsnippet

snippet date "current date" w
`!v strftime('%Y-%m-%d')`
endsnippet

snippet email "my email" w
bkmgtp@gmail.com
endsnippet
