snippet # "header for python script" !b
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
# Author : lightxue

$0
endsnippet

snippet ifm "ifmain" b
if __name__ == '__main__':
    ${1:main()}$0
endsnippet

# vim: shiftwidth=4 expandtab tabstop=4
