snippet pel "Pelican metadata" bs
---
title: ${1:title}
date: `date '+%Y-%m-%d %H:%M:%S +08:00'`
tags: $2
category: $3
slug: $4
keywords: $5
description: $6
---

${0:Content of your blog post}

endsnippet
